.header {
  margin: 50px 0;
}

.button {
  display: flex;
  justify-content: flex-end;
}

#images {
  display: flex;
  flex-wrap: wrap;
}

.img {
  height: 250px;
  margin-right: 20px;
  margin-bottom: 20px;
}